<!DOCTYPE html>
<html lang="en">
<head>
{#    <meta charset="UTF-8">#}
{#    <link rel="stylesheet" type="text/css" href="../static/css/demo.css" />#}
</head>
<div style="background: #c3dde0;width: 500px;">
    <h2>Detailed</h2><td>
    <div style="margin: 5px 0 0 0">
        <label style="margin: 0 0 0 10px;font-size: 15px;">GENUS:</label><label style="margin: 0 0 0 10px;font-size: 20px">{{ genus }}</label>
    </div>
    <div style="margin: 5px 0 0 0">
        <label style="margin: 0 0 0 10px;font-size: 15px">SPECIES:</label><label style="margin: 0 0 0 10px;font-size: 20px">{{ species }}</label>
    </div>
    <div style="margin: 5px 0 0 0">
        <label style="margin: 0 0 0 10px;font-size: 15px">SUBSPECIES:</label><label style="margin: 0 0 0 10px;font-size: 20px">{{ subspecies }}</label>
    </div>
    <div style="margin: 5px 0 0 0">
        <label style="margin: 0 0 0 10px;font-size: 15px">REFERENCE:</label><label style="margin: 0 0 0 10px;font-size: 20px">{{ reference }}</label>
    </div>
    <div style="margin: 5px 0 0 0">
        <label style="margin: 0 0 0 10px;font-size: 15px">STATUS:</label><label style="margin: 0 0 0 10px;font-size: 20px">{{ status }}</label>
    </div>
    <div style="margin: 5px 0 0 0">
        <label style="margin: 0 0 0 10px;font-size: 15px">AUTHORS:</label><label style="margin: 0 0 0 10px;font-size: 20px">{{ authors }}</label>
    </div>
    <div style="margin: 5px 0 0 0">
        <label style="margin: 0 0 0 10px;font-size: 15px">REMARKS:</label><label style="margin: 0 0 0 10px;font-size: 20px">{{ remarks }}</label>
    </div>
    <div style="margin: 5px 0 0 0">
        <label style="margin: 0 0 0 10px;font-size: 15px">RISK_GRP:</label><label style="margin: 0 0 0 10px;font-size: 20px">{{ risk_grp }}</label>
    </div>
    <div style="margin: 5px 0 0 0">
        <label style="margin: 0 0 0 10px;font-size: 15px">TYPE_STRAINS:</label><label style="margin: 0 0 0 10px;font-size: 20px">{{ type_strains }}</label>
    </div>
    <div style="margin: 5px 0 0 0">
        <label style="margin: 0 0 0 10px;font-size: 15px">TAXONID:</label><label style="margin: 0 0 0 10px;font-size: 20px">{{ taxonid }}</label>
    </div>
    <div style="margin: 5px 0 0 0">
        <label style="margin: 0 0 0 10px;font-size: 15px">NCBITAXONID:</label><label style="margin: 0 0 0 10px;font-size: 20px">{{ ncbitaxonid }}</label>
    </div>
    <div style="margin: 5px 0 0 0">
        <label style="margin: 0 0 0 10px;font-size: 15px">MCLID:</label><label style="margin: 0 0 0 10px;font-size: 20px">{{ mclid }}</label>
    </div>
    <div style="margin: 5px 0 0 0">
        <label style="margin: 0 0 0 10px;font-size: 15px">SEQUENCE:</label><textarea cols="35" rows="5" style="margin: 0 0 0 10px;font-size: 20px">{{ sequence }}</textarea>
{#        <label style="margin: 0 0 0 10px;font-size: 20px">{{ sequence }}</label>#}
    </div>
</div>
<body>

</body>
</html>